body {
    background-color: #fff;
}

.image-container {
    display: flex;
    justify-content: center;
}

table {
    width: 90%;
    margin: auto;
    text-align: center;
}

.input-field {
    background-color: #eee;
}

.first-td {
    background-color: #7EE5DA;
}

.second-td {
    background-color: #70CCC2;
}

.third-td {
    background-color: #62B3AA;
}

.copyright {
    text-align: center;
}