.container {
    display: flex;
    flex-direction: column;
    font-family: arial,sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.header > a {
    text-decoration: none;
    padding: 10px;
    color: #000;
    font-size: 13px;
}

.header > a:hover {
    text-decoration: underline;
}

.header > img {
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 50%;
    padding: 5px;
}

.application-svg {
    height: 24px;
    width: 24px;
    padding: 5px;
    fill: #5f6368;
}

.google-logo {
    display: flex;
    justify-content: center;
}

.input-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.input-outer {
    display: flex;
    z-index: 3;
    height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: calc(632px + 6px);
    max-width: 584px;
}

.search-icon {
    align-self: center;
    margin-left: 10px;
}

.search-icon > svg {
    width: 20px;
    height: 20px;
    fill: #9aa0a6;
}

.input-field {
    background-color: transparent;
    border: none;
    margin: 0;
    padding-left: 10px;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
    align-self: center;
}

.input-container:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    border-radius: 24px;
}

.mic-svg {
    height: 24px;
    width: 24px;
    align-self: center;
    margin-right: 10px;
}

.buttons-container {
    height: 70px;
    padding-top: 18px;
}

.buttons-container > button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.language-container {
    display: flex;
    justify-content: center;
    color: #4d5156;
    font-size: small;
}

.footer {
    background: #f2f2f2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.first-row {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
}

.second-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}

.second-row > div {
    display: flex;
    flex-direction: row;
}

.links {
    text-decoration: none;
    display: block;
    padding: 15px;
    color: #70757a;
    font-size: 14px;
}